<nav
  class="navbar navbar-expand-lg bg-black border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        src="https://upload.wikimedia.org/wikipedia/commons/0/01/Amnesia_The_Dark_Descent_Logo.png"
        alt="Logo"
        width="70"
        height="40"
      />
      Easily</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item dropdown">
          <button
            class="btn btn-black dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Recruiter
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a
                class="dropdown-item"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"
                >New Product</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </ul>

      <form action="/search" method="post" class="d-flex">
        <input
          class="form-control me-2"
          type="text"
          name="name"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success btn-warning" type="submit">
          Search
        </button>
      </form>
      <a
        href="#"
        class="btn btn-warning header-btn"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        style="margin-left: 10px"
        >Log In As Recruiter</a
      >
    </div>
  </div>
</nav>
<%- include('_newJobForm'); %>
