<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg modal-content-bg">
    <div class="modal-content">
      <div class="modal-header bg-primary bg-gradient">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Jobs</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body bg-primary bg-gradient">
        <form action="/new" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name" class="form-label">Company Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="Cname"
              required
            />
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input
              type="text"
              class="form-control"
              id="role"
              name="role"
              required
            />
          </div>

          <div class="mb-3">
            <label for="salary" class="form-label">Salary Range</label>
            <input
              type="text"
              class="form-control"
              id="salary"
              name="salary"
              required
            />
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="location"
              required
            />
          </div>

          <div class="mb-3">
            <label for="workModel" class="form-label">Work Model</label>
            <select
              class="form-select form-select-sm"
              aria-label="Small select example"
              id="workModel"
              name="workModel"
            >
              <option selected>Select the Work Model</option>
              <option value="Remote">Remote</option>
              <option value="WFH">WFH</option>
              <option value="Hybrid">Hybrid</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="skills" class="form-label">Skills</label>
            <select name="skills" id="skills" multiple>
              <option value="HTML">HTML</option>
              <option value="CSS">CSS</option>
              <option value="NodeJs">NodeJs</option>
              <option value="React">React</option>
              <option value="Angular">Angular</option>
              <option value="SQL">SQL</option>
              <option value="MERN">MERN</option>
              <option value="PHP">PHP</option>
              <option value="JAVA">JAVA</option>
              <option value="JavaScript">JavaScript</option>
              <option value="C">C</option>
              <option value="C++">C++</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="lastDate" class="form-label">Last Date to Apply</label>
            <input
              type="date"
              class="form-control"
              id="lastDate"
              name="lastDate"
              required
            />
          </div>

          <div class="mb-3">
            <label for="opening" class="form-label">Number of Opening</label>
            <input
              type="number"
              class="form-control"
              id="opening"
              name="opening"
              required
            />
          </div>

          <div class="mb-3">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input
              type="file"
              class="form-control"
              id="imageUrl"
              name="Clogo"
              accept="images/*"
              required
            />
          </div>
          <div class="submit-form text-dark">
            <button
              type="submit"
              class="btn btn-primary bg-warning bg-gradient"
            >
              Add Job
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
