<div class="home-background bg-black bg-gradient shadow">
  <div class="content-image-container">
    <div class="content-button-container">
      <h1 class="">Find your dream job now</h1>
      <h3 class="animate__animated animate__bounce">
        5 lakh+ jobs for you to explore
      </h3>
      <a href="/jobs" class="btn btn-warning header-btn">I'm A Job Seeker</a>
      <button
        type="button"
        class="btn btn-warning header-btn"
        data-bs-toggle="modal"
        data-bs-target="#registerModal"
      >
        I'm A Job Recuiter
      </button>
      <%- include('_register'); %>
    </div>
    <div class="image-container">
      <img
        src="images/home.webp"
        class="img-fluid animate__animated animate__flipInX"
        alt=""
      />
    </div>
  </div>
</div>
